
<!-- Toolbar -->
<div class="sidebar-nav">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">

        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <ng-container>
              <a routerLink="/" class="navbar-brand" routerLinkActive="active" >Portal</a>
              <li>
                <a routerLink="buyer" class="nav-link"
                  ><i class="bi bi-person-check-fill"></i>
                  <span class="item-text">Buyer</span></a
                >
              </li>
              <li>
                <a routerLink="vendor" class="nav-link"
                  ><i class="bi bi-person-x-fill"></i>
                  <span class="item-text">Vendor</span></a
                >
              </li>
              <li>
                <a routerLink="landlord" class="nav-link"
                  ><i class="bi bi-people"></i>
                  <span class="item-text">Landlord</span></a
                >
              </li>
              <li>
                <a routerLink="tenant" class="nav-link"
                  ><i class="bi bi-incognito"></i>
                  <span class="item-text">Tenant</span></a
                >
              </li>
            </ng-container>

          </ul>
        </div>
      </div>
  </nav>

</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
